body {
  background-color: #ffff66;
}

#root {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fonte-maior {
  font-size: 28px;
}

.numero {
  padding: 10px;
  font-size: 28px;
  width: 100px;
  text-align: right;
}

.enviar {
  margin-left: 5px;
  padding: 10px;
  font-size: 28px;
}